<!--
This is the template for category "accordion" buttons available in the search panel in right menu
-->

<div class="item item-divider {{::color}}" ng-click="showHideBuilding()"><i class="icon" ng-class="showBuilding ? &apos;ion-minus&apos; : &apos;ion-plus&apos;"></i>&#xA0; {{title}} <i class="ion-{{::icon}} icon-ion-{{::icon}}"></i><i class="visibility ion-eye" ng-show="markersVisible" ng-click="hideMarkers($event, icon)"></i><i class="visibility ion-eye-disabled" ng-show="!markersVisible" ng-click="showMarkers($event, icon)"></i></div>
<ion-item class="item-accordion" ng-repeat="building in buildings" href="#/app/maps/{{::building.id}}/0" nav-clear="" ng-click="resetMenu()" close-menu ng-show="showBuilding">
    <div class="info">
        <div class="id">{{::building.id}}</div>
        <div class="name">{{::building.name}}</div>
        <div class="address">{{::building.address}}</div>
    </div>
    <img class="miniature" src="img/buildings/{{::building.id}}.jpg">
</ion-item>