<ion-content>
<div style="text-align:center" class="myDiv">
  <button class="round-overlay-button positive button-icon" ng-click="studentMenu()"> 
    <i class="icon ion-university my-icon"></i>
    <i class="my-text">{{"Student"| translate}}</i>
  </button>
  <button class="round-overlay-button energized button-icon"> 
    <i class="icon ion-earth my-icon"></i>
    <i class="my-text">{{"Campus"| translate}}</i>
  </button>
</div>
<div style="text-align:center" class="myDiv">
  <button class="round-overlay-button royal button-icon"> 
    <i class="icon ion-map my-icon"></i>
    <i class="my-text">{{"Map"| translate}}</i>
  </button>
  <button class="round-overlay-button balanced button-icon"> 
   <i class="icon ion-compose my-icon"></i>
   <i class="my-text">{{"Town"|translate}}</i>
 </button>
</div>
</ion-content>