<ion-view title="{{'Events' | translate}}">
<ion-nav-bar align-title="center" class="bar bar-header bar-energized">    
</ion-nav-bar>
</ion-nav-buttons>        
<ion-nav-buttons side="right">
<button class="button button-clear" ng-click="toggleRight()">
	<i class="icon ion-navicon-round"></i>
</button>
</ion-nav-buttons>
<ion-nav-buttons side="left">
<button class="button button-clear" ng-click="goHome()">
	<i class="icon ion-home"></i>
</button>
</ion-nav-buttons> 
<div class="bar bar-subheader list">

  <label class="item item-input item-select">
    <div class="input-label">
      {{"Category" | translate}}
    </div>
    <select ng-model="selectedCategory" ng-change="resetEventList()">
      <option>{{"All categories" | translate}}</option>
      <option ng-repeat="item in categories">{{item | translate}}</option>
    </select>
  </label>

</div>
<ion-content has-subheader="true" class="card-list-margin-top">
	<ion-list class="list card">
		<ion-item ng-repeat="item in eventList|filter:hasCategory" ui-sref="app.eventsDetails({id:{{item.guid}}})">
			<span>{{item.title}}</span>
			<div class="text-card-event">{{item.date_begin}}</div>
			<div class="text-card-event">{{item.location}}</div>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll
	  ng-if="hasMoreEvents()"
	  icon="ion-loading-c"
	  on-infinite="loadMoreEvents()"
	  distance="1%">
	</ion-infinite-scroll>
</ion-content>
</ion-view>