<ion-view title="{{'Events' | translate}}">
<ion-nav-bar align-title="center" class="bar bar-header bar-energized">    
</ion-nav-bar>
</ion-nav-buttons>        
<ion-nav-buttons side="right">
<button class="button button-clear" ng-click="toggleRight()">
	<i class="icon ion-navicon-round"></i>
</button>
</ion-nav-buttons>
<ion-nav-buttons side="left">
<button class="button button-clear" ng-click="goHome()">
	<i class="icon ion-home"></i>
</button>
</ion-nav-buttons> 
<ion-content>
	<ion-list>
		<ion-item class="item item-icon-left" ng-repeat="item in eventList">
			{{item.title | translate}}
		</ion-item>
	</ion-list>
</ion-content>
</ion-view>