.user-icon img {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    margin-left: -10px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}